<h1 class="mb-4">新增行程</h1>
<div class="container">
  <form action="/schedule" method="POST">
    <div class="mb-3">
      <label for="date" class="col-sm-5 fs-4">日期:</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="date" name="date" required />
      </div>
    </div>

    <div class="mb-3">
      <label for="memo" class="col-sm-5 fs-4">memo:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="memo" name="memo" required />
      </div>
    </div>

    <div class="mb-3">
      <label for="reminder" class="col-sm-5 fs-4">reminder:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="reminder" name="reminder">
      </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-outline-dark">新增行程</button>
        <a href="/"><button type="button" class="btn btn-outline-secondary">返回首頁</button></a>
        <button type="reset" class="btn btn-outline-danger">全部清除</button>
    </div>
  </form>
</div>

