<h3 class="mb-5">新增Todo</h3>

{{#each ScheduleData}}
<form action="/schedule/{{ this._id }}" method="POST" style="display: inline;">

  <div class="input-group mb-5">
    <input class="form-control" type="text" placeholder="今天要做些什麼?" name="name" required />
    <button class="btn btn-success" type="submit">新增</button>
    <button type="reset" class="btn btn-danger">清除</button>
  </div>

  <div class="text-center">
    <a href="/"><button type="button" class="btn btn-outline-secondary">返回首頁</button></a>
    <a href="/schedule/{{ this._id }}"><button type="button" class="btn btn-outline-secondary">返回</button></a>
  </div>

</form>
{{/each}}